h1{
	background-color: pink;
	color: yellow;
	margin-left: 100px;
	margin-right: 200px;
	margin-top: 100px;
	margin-bottom: 200px;
	border-style: dotted;
	border-width: 10px;
}
#heading{
	background-color: cyan;
	color: darkred;
	margin: 100px 200px 200px 100px;
	border-style: dashed;
	border-width: 2px;
}
h1.hello{
	background-color: yellowgreen;
	color: navajowhite;
	margin: 100px;
	border-style: double;
	border-width: 15px;
}
h1.pic{
	border-width: 10px;
	border-style: solid;
	background-size: 100px;
	background-image: url(img.jfif); 
	background-repeat: round;
}
h3{
	width: 500px;
    border: 20px solid green;
    padding: 55px;
    margin: 20px;
}